<div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let product of products; let i = index">
        <div class="card text-center">
          <img class="card-img-top" [src]="product.image" [alt]="product.name">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.price }}</p>
            <p class="card-text"><small>{{ product.promotion }}</small></p>
            <button class="btn btn-success" (click)="addToCart(product.id, product)">Add to Cart</button>
            <!-- <button class="btn btn-danger" (click)="deleteProduct(i)">Delete</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>